In [8]:
import pandas as pd
import numpy as np
import math

In [9]:
# get size of vector
def mag(x): return math.sqrt(sum(i**2 for i in x))

In [10]:
res_matrix = pd.read_csv('../data/res_matrix.csv')
user_matrix = pd.read_csv('../data/user_matrix.csv')
group_count = pd.read_csv('../data/group_count.csv',names=['group','count'])

res_matrix.set_index('p_id',drop=True,inplace=True)
user_matrix.rename(columns = {"Unnamed: 0": "u_id"}, inplace=True)
user_matrix.set_index('u_id', drop=True, inplace=True)
group_count.set_index('group', drop=True, inplace=True)

In [11]:
res_matrix.head()

,group_29,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
p_id,,,,,,,,,,,,,,,,,,,,,
721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,3
1832,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,2
741,3,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
218,2,0,0,0,0,1,2,0,1,0,...,0,0,0,0,0,0,1,0,0,1
3276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
user_matrix.head()

,group_29,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
u_id,,,,,,,,,,,,,,,,,,,,,
5351,6,0,0,0,1,0,2,0,2,1,...,0,2,0,0,0,1,0,1,0,4
3024,24,0,0,0,1,1,7,0,2,2,...,1,1,6,0,0,3,3,4,1,17
5941,29,0,0,1,3,0,21,0,4,2,...,1,4,0,1,0,10,1,2,0,28
13580,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
6953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
group_count.head()

          count
group
group_29    268
group_0      32
group_1      68
group_2      40
group_3      42

In [16]:
p_m = pd.DataFrame(np.array(res_matrix) * (1/np.array(group_count['count'])), index=res_matrix.index)
p_m = p_m.iloc[:,:].div(p_m.sum(axis=1), axis=0).fillna(0)
u_m = pd.DataFrame(np.array(user_matrix) * (1/np.array(group_count['count'])), index=user_matrix.index)
u_m = u_m.iloc[:,:].div(u_m.sum(axis=1), axis=0).fillna(0)

In [17]:
p_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
p_id,,,,,,,,,,,,,,,,,,,,,
721,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.043834,0.0,0.116507
1832,0.053308,0.000000,0.000000,0.00000,0.0,0.000000,0.046086,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.057146,0.050128,0.000000,0.0,0.050128
741,0.034111,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.055405,...,0.000000,0.078135,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.026731
218,0.042261,0.000000,0.000000,0.00000,0.0,0.077576,0.182678,0.0,0.079761,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.099351,0.000000,0.0,0.049676
3276,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.232378,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,0.003882,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.018916,...,0.179379,0.026677,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.009126
2809,0.016743,0.000000,0.000000,0.00000,0.0,0.006147,0.043423,0.0,0.018959,0.024475,...,0.000000,0.080536,0.000000,0.010435,0.0,0.017948,0.023616,0.000000,0.0,0.035424
3297,0.016136,0.002938,0.001383,0.00235,0.0,0.006439,0.021229,0.0,0.007945,0.010256,...,0.003242,0.043390,0.002137,0.006559,0.0,0.018802,0.103908,0.001862,0.0,0.041233
445,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.039573,0.0,0.000000,0.000000,...,0.000000,0.000000,0.055763,0.000000,0.0,0.196284,0.000000,0.000000,0.0,0.021522
3592,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.060478,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.074993,0.000000,0.000000,0.0,0.032892

In [18]:
u_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
u_id,,,,,,,,,,,,,,,,,,,,,
5351,0.025431,0.0,0.0,0.000000,0.027046,0.00000,0.036643,0.0,0.031998,0.020653,...,0.000000,0.058252,0.000000,0.000000,0.0,0.022718,0.000000,0.011247,0.000000,0.039857
3024,0.017392,0.0,0.0,0.000000,0.004624,0.00266,0.021927,0.0,0.005471,0.007062,...,0.006697,0.004980,0.026483,0.000000,0.0,0.011653,0.010222,0.007691,0.002988,0.028961
5941,0.015398,0.0,0.0,0.003558,0.010164,0.00000,0.048199,0.0,0.008017,0.005175,...,0.004907,0.014595,0.000000,0.001655,0.0,0.028460,0.002497,0.002818,0.000000,0.034951
13580,0.019210,0.0,0.0,0.000000,0.000000,0.00000,0.083038,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.059865,0.0,0.000000,0.000000,0.000000,0.000000,0.045161
6953,0.000000,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18726,0.000000,0.0,0.0,0.000000,0.000000,0.00000,0.114951,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.250068,0.000000,0.000000,0.062517
10858,0.078430,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10956,0.055347,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
21694,0.022082,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.151741,0.000000,0.000000,0.0,0.000000,0.207646,0.000000,0.000000,0.000000
18178,0.000000,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
user_id = int(input('user_id : '))

user_id : 28

In [20]:
u_vec = u_m.loc[user_id,:]
u_size = mag(u_vec)
u_size

0.2198105669952622

In [21]:
cos_sim = []

u_vec = u_m.loc[user_id,:]
u_size = mag(u_vec)

for i in range(len(p_m)):
    p_vec = p_m.iloc[i,:]
    p_size = mag(p_vec)
    cos_sim.append(np.dot(p_vec, u_vec)/(p_size*u_size))

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in double_scalars
  if __name__ == '__main__':

In [22]:
p_m['cbf_score'] = cos_sim
p_m

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,cbf_score
p_id,,,,,,,,,,,,,,,,,,,,,
721,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.043834,0.0,0.116507,0.509121
1832,0.053308,0.000000,0.000000,0.00000,0.0,0.000000,0.046086,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.057146,0.050128,0.000000,0.0,0.050128,0.695587
741,0.034111,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.055405,...,0.078135,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.026731,0.503153
218,0.042261,0.000000,0.000000,0.00000,0.0,0.077576,0.182678,0.0,0.079761,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.099351,0.000000,0.0,0.049676,0.623738
3276,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.232378,0.000000,0.000000,0.0,0.000000,0.690564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,0.003882,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.000000,0.018916,...,0.026677,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.009126,0.372708
2809,0.016743,0.000000,0.000000,0.00000,0.0,0.006147,0.043423,0.0,0.018959,0.024475,...,0.080536,0.000000,0.010435,0.0,0.017948,0.023616,0.000000,0.0,0.035424,0.897991
3297,0.016136,0.002938,0.001383,0.00235,0.0,0.006439,0.021229,0.0,0.007945,0.010256,...,0.043390,0.002137,0.006559,0.0,0.018802,0.103908,0.001862,0.0,0.041233,0.845937
445,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.039573,0.0,0.000000,0.000000,...,0.000000,0.055763,0.000000,0.0,0.196284,0.000000,0.000000,0.0,0.021522,0.324701
3592,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.060478,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.074993,0.000000,0.000000,0.0,0.032892,0.407778

In [23]:
pd.DataFrame(p_m['cbf_score']).sort_values(by=['cbf_score'], axis=0, ascending=False).head(100)

      cbf_score
p_id
643    0.936923
962    0.935923
2481   0.928743
1210   0.926539
3554   0.926400
...         ...
2042   0.895025
667    0.894852
1685   0.894661
3249   0.894394
873    0.894385

[100 rows x 1 columns]

In [24]:
pd.DataFrame(p_m['cbf_score']).sort_values(by=['cbf_score'], axis=0, ascending=False).to_csv('../data/predictions/'+str(user_id)+'_cbf.csv')