In [9]:
import pandas as pd
import numpy as np
import math

In [10]:
# get size of vector
def mag(x):
    return math.sqrt(sum(i**2 for i in x))

In [11]:
res_matrix = pd.read_csv('../data/res_matrix.csv')
user_matrix = pd.read_csv('../data/user_adj_matrix.csv')
group_count = pd.read_csv('../data/group_count.csv',names=['group','count'])

res_matrix.set_index('p_id', drop=True, inplace=True)
user_matrix.set_index('u_id', drop=True, inplace=True)
group_count.set_index('group', drop=True, inplace=True)

In [12]:
user_matrix

,group_114,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_109,group_110,group_111,group_112,group_113,group_115,group_116,group_117,group_118,group_119
u_id,,,,,,,,,,,,,,,,,,,,,
5351,4.0,1.0,0.0,2.0,2.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3024,36.0,0.0,0.0,4.0,5.0,0.0,0.0,4.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5941,47.0,1.0,1.0,4.0,8.0,0.0,1.0,3.0,0.0,1.0,...,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13580,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u1s2&Koot,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
u1s2&2019100861,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
u1s2&Uynibus,0.0,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
u1s2&dpwls258,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
u1s2&쥬,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0

In [13]:
res_matrix

,group_3,group_0,group_1,group_2,group_4,group_5,group_6,group_7,group_8,group_9,...,group_110,group_111,group_112,group_113,group_114,group_115,group_116,group_117,group_118,group_119
p_id,,,,,,,,,,,,,,,,,,,,,
721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1832,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
741,8,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3276,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2809,26,0,1,0,0,0,1,0,0,2,...,0,0,4,0,0,0,2,0,1,0
3297,112,0,9,3,0,0,1,0,0,1,...,1,6,6,0,0,0,5,1,2,0
445,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3592,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [14]:
group_count.head()

         count
group
group_3    254
group_0      2
group_1    113
group_2     36
group_4     43

In [17]:
p_m = pd.DataFrame(np.array(res_matrix) * (1/np.array(group_count['count'])), index=res_matrix.index)
p_m = p_m.iloc[:,:].div(p_m.sum(axis=1), axis=0).fillna(0)
u_m = pd.DataFrame(np.array(user_matrix) * (1/np.array(group_count['count'])), index=user_matrix.index)
u_m = u_m.iloc[:,:].div(u_m.sum(axis=1), axis=0).fillna(0)

In [18]:
p_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
p_id,,,,,,,,,,,,,,,,,,,,,
721,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
1832,0.027376,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.053904,0.0
741,0.097441,0.0,0.027378,0.000000,0.0,0.0,0.143895,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
218,0.035393,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.095637,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.037773,0.000000,0.000000,0.0
3276,0.051492,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,0.034238,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
2809,0.044842,0.0,0.003877,0.000000,0.0,0.0,0.010188,0.0,0.0,0.018641,...,0.00000,0.000000,0.018842,0.0,0.0,0.0,0.007362,0.000000,0.010188,0.0
3297,0.035806,0.0,0.006467,0.006767,0.0,0.0,0.001888,0.0,0.0,0.001728,...,0.00145,0.009369,0.005239,0.0,0.0,0.0,0.003412,0.000837,0.003777,0.0
445,0.026005,0.0,0.029227,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
3592,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.00000,0.000000,0.043437,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0

In [19]:
u_m

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
u_id,,,,,,,,,,,,,,,,,,,,,
5351,0.002153,0.068355,0.000000,0.007595,0.006359,0.136711,0.000000,0.034178,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
3024,0.004500,0.000000,0.000000,0.003528,0.003692,0.000000,0.000000,0.031749,0.0,0.000676,...,0.000000,0.0,0.0,0.0,0.031749,0.0,0.000000,0.0,0.0,0.0
5941,0.003436,0.009286,0.000164,0.002063,0.003455,0.000000,0.000432,0.013929,0.0,0.000395,...,0.001658,0.0,0.0,0.0,0.018571,0.0,0.000000,0.0,0.0,0.0
13580,0.003460,0.000000,0.000000,0.000000,0.000000,0.000000,0.020440,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
6953,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u1s2&Koot,0.000000,0.000000,0.003412,0.000000,0.026897,0.000000,0.000000,0.000000,0.0,0.000000,...,0.006884,0.0,0.0,0.0,0.000000,0.0,0.009719,0.0,0.0,0.0
u1s2&2019100861,0.000000,0.000000,0.010665,0.000000,0.046711,0.000000,0.000000,0.000000,0.0,0.000000,...,0.028694,0.0,0.0,0.0,0.000000,0.0,0.016879,0.0,0.0,0.0
u1s2&Uynibus,0.000000,0.000000,0.010816,0.000000,0.018949,0.000000,0.000000,0.000000,0.0,0.000000,...,0.014550,0.0,0.0,0.0,0.000000,0.0,0.010271,0.0,0.0,0.0
u1s2&dpwls258,0.000000,0.000000,0.010068,0.000000,0.026458,0.000000,0.000000,0.000000,0.0,0.000000,...,0.020316,0.0,0.0,0.0,0.000000,0.0,0.009561,0.0,0.0,0.0
u1s2&쥬,0.000000,0.000000,0.003287,0.000000,0.034548,0.000000,0.000000,0.000000,0.0,0.000000,...,0.033160,0.0,0.0,0.0,0.000000,0.0,0.015605,0.0,0.0,0.0

In [20]:
p_m.to_csv('../data/normalized_item_matrix.csv')
u_m.to_csv('../data/normalized_user_matrix.csv')