In [9]:
import pandas as pd
import nltk

In [10]:
place_df = pd.read_csv('../data/all_places_reviews.csv')
word_cluster = pd.read_csv('../data/Go_adj_clustered.csv')

In [11]:
del word_cluster['Unnamed: 0']
#del place_df['index']

In [12]:
place_df.dropna(inplace=True)

In [13]:
place_df.reset_index(inplace=True, drop=True)

In [14]:
place_df

,p_id,review,review_en
0,f239,최고예요. 편안하게 있다 갔어요. 분위기 작살!!. 분위기죠아요 연남동에서 유일하게...,It's the best. It's comfortable. He's gone. Th...
1,b209,희수야효선왕돈까스 쌍문1줄번게,Heesuya Hyosun king pork cutlet Ssangmun No.1
2,e810,더홀 했는데... 좀 부실해요. 가지마세요 상자 자물쇠도 안채워놓는 세팅실수해놓아서...,It was a little duhol. It's a little weak. Don...
3,a211,신나는 분위기에서 한잔하며 볼링 즐길 수 있는 곳. 좋은 분위기 속에서 맛있는 칵테...,A place where you can drink and enjoy bowling ...
4,b44,걷기 길찾기 하면 배수로로 안내하니 괜히 헤매지말고 바로 노을공원입구로 가시오. 풍...,"If you find a way to walk, you will be guided ..."
...,...,...,...
1201,1482,. 필요한 자재들 부재료들을 한번에 찾을 수 있는 방산시장 교통편이 좋지않고 주차가...,. The transportation to the Bangsan market is ...
1202,1484,. 오며가며 낙원상가를 본 지도 30여년이 되었으나 제대로 가보기는 이번이 처음이다...,. It has been more than 30 years since I visit...
1203,1485,. 방학역과는 거리가 좀 있습니다. 시장이 크지는 않고요. 커다란 호떡과 시장맛나는...,. It's a little far from the vacation station....
1204,1500,. 저렴한 곳과 고급스러운 곳들이 다 뒤섞여있습니다. 종로가격을 유지하면서 고급스러...,. Cheap and luxurious places are all mixed up....
1205,1510,. 시장 중앙에 떡볶이집이 몰려있는데 오뎅도 너무 맛있고 떡볶이도 저렴하면서 양도 ...,. There are a lot of tteokbokki restaurants in...

In [15]:
word_cluster

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,cave,available,korea,kindness,hateful,sour,traditional,hidden,reasonable,atmosphere,...,endocrine,colonial,samurai,great,odorless,provincial,strategic,national,ordinary,bilingual
1,ancient,uninvited,chinese,respectful,inflammatory,bitter,orthodox,invincible,sincere,busy,...,digestive,feudal,NaN,excellent,NaN,internal,financial,foreign,secret,social
2,medieval,designated,indian,respect,NaN,acrimonious,conventional,silent,satisfactory,noisy,...,circulatory,imperial,NaN,awesome,NaN,organizational,medical,global,general,university
3,prehistoric,anonymous,asian,appreciate,NaN,NaN,unconventional,invisible,proper,calm,...,NaN,dynastic,NaN,amazing,NaN,administrative,technical,intercontinental,basic,sanitary
4,olden,unmanaged,african,gratitude,NaN,NaN,customary,forgotten,transparent,loud,...,NaN,aristocratic,NaN,unparalleled,NaN,departmental,operational,domestic,local,industrial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
res_df = pd.DataFrame(index=range(0,len(place_df)), columns=range(0, 100))

In [30]:
res_df['p_id'] = 0
res_df['total_count'] = 0

In [31]:
cluster_count = 100;
for i in range (0,len(place_df)):
    p_id = place_df['p_id'][i]
    review = place_df['review_en'][i]
    token_ls = nltk.word_tokenize(str(review));
    total_count = 0
    res_df['p_id'][i] = p_id
    for j in range (0,cluster_count):
        count = 0;
        for token in token_ls:
            if token in list(word_cluster[str(j)]):
                count = count + 1
        total_count = total_count + count
        res_df[j][i] = count
    res_df['total_count'][i] = total_count

/Users/ryeonju/miniconda3/envs/reco_base/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/ryeonju/miniconda3/envs/reco_base/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ryeonju/miniconda3/envs/reco_base/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [32]:
res_df

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,p_id,total_count
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,f239,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,b209,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,e810,3
3,0,0,0,0,0,0,0,0,0,10,...,0,2,0,0,0,0,1,0,a211,67
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,b44,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,0,1,0,0,0,0,1,1,2,0,...,0,1,0,0,0,0,2,0,1482,49
1202,0,0,0,0,0,0,0,0,0,2,...,0,3,0,0,0,0,3,0,1484,54
1203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1485,0
1204,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1500,30
1205,0,0,0,0,0,0,3,0,0,2,...,0,0,0,0,0,0,0,0,1510,11

In [33]:
res_df.to_csv('../data/place_matrix.csv', index=False)

In [34]:
import math

In [35]:
for i in range(0, len(res_df)):
    total_count = res_df['total_count'][i]
    for j in range (0,100):
        ratio = res_df[j][i]/total_count
        if math.isinf(ratio) | math.isnan(ratio):
            ratio=0
        res_df[j][i] = ratio

/Users/ryeonju/miniconda3/envs/reco_base/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/ryeonju/miniconda3/envs/reco_base/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.

In [36]:
res_df

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,p_id,total_count
0,0,0,0,0,0,0,0,0,0,0.333333,...,0,0,0,0,0,0,0,0,f239,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,b209,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,e810,3
3,0,0,0,0,0,0,0,0,0,0.149254,...,0,0.0298507,0,0,0,0,0.0149254,0,a211,67
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,b44,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,0,0.0204082,0,0,0,0,0.0204082,0.0204082,0.0408163,0,...,0,0.0204082,0,0,0,0,0.0408163,0,1482,49
1202,0,0,0,0,0,0,0,0,0,0.037037,...,0,0.0555556,0,0,0,0,0.0555556,0,1484,54
1203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1485,0
1204,0,0,0,0,0,0,0,0,0.0333333,0,...,0,0,0,0,0,0,0,0,1500,30
1205,0,0,0,0,0,0,0.272727,0,0,0.181818,...,0,0,0,0,0,0,0,0,1510,11

In [37]:
res_df.to_csv('../data/normalized_place_matrix.csv', index=False)